@import '../../global.scss';

.contact {
    background-color: white;
    display: flex;

    @include mobile {
        height: fit-content !important;
        padding: 40px;
        flex-direction: column;
    }

    .left {
        flex: 1;
        overflow: hidden;

        img {
            height: 100%;
            width: 95%;
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 30px;
        }

        form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            @include mobile {
                input {
                    width: 300px !important;
                    margin-bottom: 15px;
                }

                textarea {
                    width: 300px !important;
                    margin-bottom: 15px;
                }

                button {
                    width: 150px !important;
                    margin-top: 10px;
                }
            }

            input {
                width: 400px;
                height: 30px;
                font-size: 16px;
                padding: 5px;
            }

            textarea {
                width: 400px;
                height: 200px;
                font-size: 16px;
                padding: 5px;
                border-radius: 5px;
            }

            button {
                width: 250px;
                height: 40px;
                color: white;
                background-color: crimson;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                font-size: 16px;
                cursor: pointer;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: rgb(137, 7, 33);
                }
            }

            span {
                font-size: 18px;
            }

            .valid {
                color: green;
            }

            .notValid {
                color: red;
            }
        }
    }
} 